@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body
{
    font-family: "Poppins";
    background: url(https://static.vecteezy.com/system/resources/previews/009/258/542/non_2x/background-line-pattern-abstract-gradiend-free-vector.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    
}
.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    max-width: 1600px;
}
.logoandul
{
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0px 20px;
    
}
.logoandul h1
{
    color: rgb(65, 32, 144);
}
ul
{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.logoandul a
{
    background-color: white;
    text-decoration: none;
    color:black;
    border-radius: 20px;
    padding: 8px 12px;
    transition:0.3s ease-in-out background-color;
  

}
a:hover
{
    background-color:black;
    color:white;
    border-radius: 15px;
}
a:active
{
    background-color:black;
    color:white;
    border-radius: 15px;
}
main
{
    min-height: 89vh;
    display: flex;
    padding: 10px;
}
.h1
{
    display: flex;flex-direction: column; justify-content: end;
    flex: 1;
    font-size: 25px;
    
}
.h1 h1
{
display: flex;
flex-direction: column;
}
.img img
{
    width: 600px;
}
.form
{
    width: 600px;
    display: flex;
    justify-content: center;padding-top: 30px;
  
}
label
{
    display: block;
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;

}
input,textarea
{
    font-size: 16px;
    padding: 8px 12px;
    width: 400px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(14, 6, 61);
    color: white;
}
input::placeholder,textarea::placeholder
{
    color: rgb(216, 213, 218);
}
#submit
{
    display: flex;
    justify-content: center;
    width: 400px;
    padding-left: 20px;
}
@media screen and (max-width:1280px) {
  .logoandul
  {
    font-size: 12px;
  }
  .img img
    {
        width:300px;
    }
    .h1
    {
        font-size: 16px;
        
    }
    input,textarea
    {
        width: 300px;
        font-size: 14px;
    }
    form
    {
        width: 400px;
    }
    .main
    {
        flex-direction: column;
    }
    .main2 .h1 h1
    {
font-size: 20px;
    }
}
@media screen and (max-width:720px) {
    .logoandul
    {
        justify-content: space-around;
    }
    .logoandul ul 
    {
        gap: 0px;
    }
    main 
    {
        flex-direction: column;
    }
    .main2
    {
        flex-direction: column-reverse;
    }
    .main2 .img
    {
        padding-top: 190px;
    }
}
@media screen and (max-width:620px) {
body {
    font-size: 12px;
    overflow: hidden;
}
.logoandul
{
    flex-direction: column;
}
.logoandul a 
{
 color: white;
    background-color:rgb(58, 58, 109);
    
}

.h1
{
    font-size: 10px;
    
}

form
{
    width: 300px;
   
}
input,textarea
{
    width: 200px;
    font-size: 12px;
    
}
.main
{
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
label
{
    font-size: 12px;
    color: white;
}
.h1
{

   justify-content: center; 
}
.main2
{
    flex-direction: column-reverse;
}
.main2  
{
    padding-top: 100px; 
    
}
.main2 .img
{
   padding-top: 100px;
}

}